body {
  background-color: #FF8D65;
}

nav {
  background-color: white;
  text-align: right;
}

img {
  background-position: center;

}
.container {
  height: 300px;
}
h3 {
  color: #FF8D65;
  text-align: center;
  padding-bottom: 40px;
  padding-top: 40px;
  font-weight: 300px;
  font-size: 80px;

}
ul {
  color: white;
  list-style: none;


}
.menu {
  background-color: white;
  background-size:cover;
  color: #FF8D65;
  font-size: 70px;
  font-weight: bold;
  text-align: center;
  border: 5px solid red;
  margin-right: auto;
}
